---
layout: default
permalink: /
---


<div class="large-hero">
  <picture>
    <source srcset="{{site.url}}/images/hero--large.jpg 1920w, {{site.url}}/images/hero--large-hi-dpi.jpg 3840w" media="(min-width: 1380px)">
    <source srcset="{{site.url}}/images/hero--medium.jpg 1380w, {{site.url}}/images/hero--medium-hi-dpi.jpg 2760w" media="(min-width: 990px)">
    <source srcset="{{site.url}}/images/hero--small.jpg 990w, {{site.url}}/images/hero--small-hi-dpi.jpg 1980w" media="(min-width: 640px)">
    <img srcset="{{site.url}}/images/hero--smaller.jpg 640w, {{site.url}}/images/hero--smaller-hi-dpi.jpg 1280w" alt="Coastal view of ocean and moutains" class="large-hero__image"/>
  </picture>
  <div class="large-hero__text-content">
    <div class="wrapper">
      <h1 class="large-hero__title">Your clarity!!!</h1>
      <h2 class="large-hero__subtitle">One trip away.</h2>
      <p class="large-hero__description">We create soul restoring journeys that inspire you to be you.</p>
      <p><a href="#" class="btn btn--orange btn--large">Get Started Today</a></p>
    </div>
  </div>
</div>

<div id="our-beginning" class="page-section">
  <div class="wrapper">
    <h2 class="headline headline--centered headline--light headline--b-margin-small">The first trip we planned <strong>was our own.</strong></h2>
    <h3 class="headline headline--centered headline--orange headline--small headline--narrow headline--light headline--b-margin-large">Ever since, we&rsquo;ve been working to make travel <strong>better for everyone.<strong></h3>
    <div class="wrapper wrapper--medium wrapper--b-margin">
      
      <img sizes="(min-width: 970px) 976px, 100vw" srcset="{{site.url}}/images/first-trip-low-res-i.jpg 565w, {{site.url}}/images/first-trip-i.jpg 976w, {{site.url}}/images/first-trip-hi-dpi-i.jpg 1952w" alt="Couple walking down a street.">

    </div>
    <div class="row row--gutters">
      <div class="row__medium-4 row__medium-4--larger row__b-margin-until-medium">
        <picture>
          <source sizes="404px" srcset="{{site.url}}/images/our-start-i.jpg, 404w, {{site.url}}/images/our-start-hi-dpi-i.jpg 808w" media="(min-width: 1020px)"/>
          <source sizes="320px" srcset="{{site.url}}/images/our-start-portrait-i.jpg 382w, {{site.url}}/images/our-start-portrait-hi-dpi-i.jpg 764w" media="(min-width: 800px)"/>
          <img srcset="{{site.url}}/images/our-start-landscape-i.jpg 800w, {{site.url}}/images/our-start-landscape-hi-dpi-i.jpg 1600w" alt="Our founder, Jane Doe" />
        </picture>
      </div>
      <div class="row__medium-8 row__medium-8--smaller">
        <div class="generic-content-container">
          <h2 class="headline headline--no-t-margin">Here&rsquo;s how we got started&hellip;</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <a href="#">quis nostrud exercitation</a> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Duis aute irure dolor in <strong>reprehenderit in</strong> voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum velit esse cillum <strong>dolore eu fugiat.</strong></p>
        </div>
      </div>
     
      
    </div>
  </div>
</div>

{% include features.html %}