<div id="features" class="page-section page-section--blue">
  <div class="wrapper">
    <img src="{{site.url}}/images/icons/star.svg">
    <h2>Our Features</h2>

    <img src="{{site.url}}/images/icons/rain.svg">
    <h3>We&rsquo;ll Watch the Weather</h3>
    <p>Download our app and we&rsquo;ll send you a notice if it&rsquo;s about to rain in the next 20 minutes around your current location. A good rain can be refreshing, but sometimes you just want to stay dry.</p>
    <img src="{{site.url}}/images/icons/globe.svg">
    <h3>Global Guides</h3>
    <p>We&rsquo;ve scoured the entire planet for the best retreats and beautiful vistas. If there&rsquo;s a corner of the world you want to escape to we know the most scenic and inspiring locations.</p>
    <img src="{{site.url}}/images/icons/wifi.svg">
    <h3>Wi-Fi Waypoints</h3>
    <p>We only send you on trips to places we can personally vouch for as being amazing. Which means we&rsquo;ve mapped out where local wi-fi spots are and marked them in our app&rsquo;s map view.</p>
    <img src="{{site.url}}/images/icons/fire.svg">
    <h3>Survival Kit</h3>
    <p>Everytime you book an escape with us we send you a survival kit with the finest materials. The kit will allow you to setup a tent, start a fire, scratch your own back and lower your taxes.</p>
  </div>
  <div id="testimonials">
    <img src="{{site.url}}/images/icons/comment.svg">
    <h2>Real Testimonials</h2>
    <img src="{{site.url}}/images/testimonial-jane.jpg">
    <h3>Jane Doe</h3>
    <h3>9 Time Escaper</h3>
    <p>&ldquo;Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&rdquo;</p>
    <img src="{{site.url}}/images/testimonial-john.jpg">
    <h3>John Smith</h3>
    <h3>4 Time Escaper</h3>
    <p>&ldquo;Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur.&rdquo;</p>
    <img src="{{site.url}}/images/testimonial-cat.jpg">
    <h3>Cat McKitty</h3>
    <h3>6 Time Escaper</h3>
    <p>&ldquo;Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.&rdquo;</p>
  </div>
</div>