<header>
  <img src="{{site.url}}/images/icons/clear-view-escapes.svg">
  <a href="#" class="btn">Get in Touch</a>
  <nav>
    <ul>
      <li><a href="#our-beginning">Our Beginning</a></li>
      <li><a href="#features">Features</a></li>
      <li><a href="#testimonials">Testimonials</a></li>
    </ul>
  </nav>
</header>