.generic-content-container {

  p {
    line-height: 1.65;
    font-weight: 100;
    color: $mainBlue;
    margin: 1.8rem 0;

    @mixin atSmall {
       font-size: 1.125rem;
    }

  }

  p a {
    font-weight: 700;
    /*text-decoration: none;*/
  }
  

}