.row {

  @mixin clearfix;

  &--gutters > div {
    padding-right: 65px;
    
  }

  &__b-margin-until-medium {
    margin-bottom: 1.875rem;
  }

  @mixin atMedium {

    &__b-margin-until-medium {
      margin-bottom: 0rem;
    }

    &__medium-4 {
      float: left;
      width: 33.33%
    }

    &__medium-8 {
      float: left;
      width: 66.6%;
    }

    &__medium-4--larger {
      width: 37%;
    }

    &__medium-8--smaller {
      width: 63%;
    }



  }
  


}