.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1263px;
  margin:0 auto;

  &--medium {
    max-width:976px;
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  &--b-margin {

    margin-bottom:1rem;

    @mixin atSmall {
      margin-bottom: 3.875rem;
    }
    
  }
}